/* -- created by Tivotal -- */

/* -- Google Fonts -- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  display: grid;
  place-items: center;
  text-align: center;
  background: #664aff;
}

.range {
  height: 80px;
  width: 380px;
  background: #fff;
  border-radius: 10px;
  padding: 0 65px 0 45px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.slidervalue {
  position: relative;
  width: 100%;
}

.slidervalue span {
  position: absolute;
  height: 45px;
  width: 45px;
  transform: translateX(-70%) scale(0);
  font-weight: 500;
  color: #fff;
  top: -40px;
  line-height: 55px;
  z-index: 2;
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
}

.slidervalue span.show {
  transform: translateX(-70%) scale(1);
}

.slidervalue span::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #664aff;
  border: 3px solid #fff;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.field .value {
  position: absolute;
  font-size: 18px;
  color: #664aff;
  font-weight: 600;
}

.field .value.left {
  left: -22px;
}

.field .value.right {
  right: -44px;
}
.field input {
  width: 100%;
  height: 3px;
}
